.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.formContainer {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}

.inputField {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.submitButton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.submitButton:hover {
    background-color: #45a049;
}

.link {
    display: block; /* Makes the links stack vertically */
    margin: 10px 0;
    color: dodgerblue;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
